@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Fraunces", sans-serif, serif;
    box-sizing: border-box;
}

.mother{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(200deg, #efe3ee, #f09dd7, #c5678b);
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.to-do {
    width: 100%;
    max-width: 540px;
    background: linear-gradient(180deg, #220b13, #7b6f73);
    margin: 5% auto 8%;
    padding: 9% 10% 4%;
    border-radius: 2rem;
}

.to-do h2{
    color: #f2e7ee;
    display: flex;
    align-items: center;
    margin-bottom: 8%;
}

.to-do h2 img {
    width: 35px;
    margin-left: 11px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #483a42;
    border-radius: 2rem;
    padding-left: 3%;
    margin-bottom: 6%;
    margin-left: -15px;
    width: 100%;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    color: #f5f0f3;

}

button {
    border: none;
    outline: none;
    padding: 3% 7%;
    background: #7cc522;
    color: #f7f4f6;
    font-size: 11pt;
    cursor: pointer;
    border-radius: 2rem;

}

ul li {
    list-style: none;
    font-size: 18pt;
    padding: 12px 8px 12px 45px;
    user-select: none;
    cursor: pointer;
    position: relative;
    color: #f08dc8;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

ul li::before {
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;;
    background-image: url(./images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

ul li span.task-text {
    flex: 1;                   /* take up remaining space */
    word-wrap: break-word;      /* wrap long words */
    white-space: normal;    /* allow natural wrapping */
}
ul li.checked {
    text-decoration: line-through;
    text-decoration-color: #260f21;
    color: #f08dc8;
}

ul li.checked::before {
    background-image: url(./images/check.png); 
    width: 35px;
    height: 35px;
    margin-left: -3px; 
}

/* ul li span{
    position: absolute;
    right: 0;
    margin-top: -6px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #7cc522;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
} */

.delete-icon {
    width: 20px;  
    height: 20px;
    border-radius: 50%;
    flex-shrink: 0;  
          
} 

.delete-icon:hover{
    cursor: pointer;
} 

.tag {
    color: #2a3e11;
    font-size: 13pt;
    border-style: solid;
    padding: 10px;
    border-radius: 2rem;
    border-color: #61102c;
    left: 30px;
    position: fixed;
    width: 170px;
} 

@media screen and (max-width: 1024px) {
    .mother {
        display: flex;
        align-items: center;
    }
    .tag {
        position: fixed;
        right: 300px;

    }
    .to-do {
        position: relative;
        top: 400px;
    }
}

@media screen and (max-width: 450px) {
    
    .to-do {
        margin: 0 20px;
        width: 350px;
    }
    .to-do h2 {
        display: flex;
        justify-content: center;
    }
    .tag {
        font-size: 10pt;
        width: 140px;
        top: 20px;
        left: 20px;

    }
   

}




